/*Text for main card header*/
.tsg-title,
.card-title,
.contact-title {
    font-family: "Nosifer";
    color: #72c000;
}

/*Text for navbar font*/
.sticky-top,
.footer-links {
    font-family: "Barrio", cursive;
}
.footer {
    /* border-top: solid 1px green; */
    margin-top: 3em;
    padding-top: 3em;
    background-color: black;
}

.navbar {
    background-color: black;
    padding-left: 7px;
}

/*OVERRIDE BOOTSTRAP COLORS*/
.btn-outline-success:hover {
    background-color: #72c000;
}

.btn-outline-success {
    color: #72c000;
    border-color: #72c000;
}
/*END OVERRIDE BOOTSTRAP COLORS*/

.about-footer {
    max-height: 0.5em;
}

.nav-link:hover {
    color: whitesmoke;
}

.nav-link {
    color: #72c000;
}

.team-cards {
    border: 1px solid #72c000;
    border-radius: 1.5em;
    max-height: 350px;
    max-width: 560px;
}

.carousel-item {
    /* text-shadow: 1px 1px white; */
    text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
        white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
        white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px;
}

.card-footer {
    border-top: 1px solid #72c000;
}

/* 
font-family: 'Nosifer', cursive; // use for Toxic Shatter Title
font-family: 'Barriecito', cursive;
font-family: 'Barrio', cursive; // use this font for navbar/footer/links
font-family: 'Kirang Haerang', cursive; 
*/
